body{
    background-color: azure;
    margin: 0
}

nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

h1{
    text-align: center;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 0
}

input{
    margin-left: 20px;
    margin-top: 10px
}

.appLinkText{
    color: black;
    font-size: 25px;
    font-weight:500;
    text-decoration: none;
    text-transform: none;
}

.authPageHeader{
    text-align: center;
}

.authForm{
    text-align: center;
}

.authFormBtn{
    margin-left: auto;
    margin-right: auto;
}

.filterForm{
    background-color: fuchsia;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.generalElectionYear{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.yearInput {
    flex-wrap: wrap;
    
}

.formToggleButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.singleStateFormContainer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 15px;
}

.stateForm{
    flex-wrap: wrap;
    flex: 0 0 25%;
    font-size: 20px;
}

.yearHeader{
    font-size: 40px;
}

.partyWonHeader{
    text-align: center;
    font-size: 25px
}

.statesContainer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.state{
    border-color: black;
    border-style: solid;
    flex-wrap: wrap;
    background-color: peachpuff;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 10px
}

.stateHeader{
    background-color: aqua;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1200px){
    .stateForm{
        flex: 0 0 25%;
        font-size: 15px;
    }
}

@media (max-width: 1000px){
    .generalElectionYear{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    }

    .yearInput {
        flex-wrap: wrap;
        flex: 0 0 50%;
    }
}

@media (max-width: 775px){
    .appLinkText{
        font-size: 20px;
    }

    .stateForm{
        flex: 0 0 33.3333%;
        font-size: 15px;
    }

    .yearHeader{
        font-size: 34px;
    }
}

@media (max-width: 500px){
    .appLinkText{
        font-size: 13px;
    }

    .filterForm{
        font-size: 15px;
    }

    .stateForm{
        flex: 0 0 33.3333%;
        font-size: 15px;
    }

    .state{
        font-size: 15px;
        width: 250px;
    }

    .stateHeader{
        font-size: 25px;
    }
}

@media (max-width: 400px){
    .appLinkText{
        font-size: 12px;
    }

    .filterForm{
        font-size: 13px;
    }
    
    .stateForm{
        flex: 0 0 33.3333%;
        font-size: 11px;
    }

    .yearHeader{
        font-size: 25px;
    }

    .state{
        font-size: 15px;
        width: 250px;
    }

    .stateHeader{
        font-size: 25px;
    }
}